.Home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-attachment: fixed;

  .element-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-el {
    background-color: rgb(6, 1, 152);
    border-radius: 8px;
    padding: 5px 30px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    color: #ffffff;
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}
